body {
  background-color: #EFFFFD;
}

hr {
  background-color: #EFFFFD;
  border-style: dotted none none;
  width: 8%;
  height: 0;
  border-color: grey;
  border-width: 10px
}

img {
  height: 180px;
  width: 180px;
}

h1 {
  color: #D1E8E4;
}

h3 {
  color: #D1E8E4;
}
